.collections {
  ul {
    display: flex;
    flex-direction: column;
    gap: 10px;

    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;

      label {
        width: 100%;
        height: 100%;
        cursor: pointer;
        font-size: 14px;
        color: #8a8a8a;
        transition: all 0.2s ease;

        &:hover {
          color: #484848;
        }

        &::before {
          content: '';
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          background: #fff;
          width: 16px;
          height: 16px;
          border: 1px solid #8a8a8a;
          border-radius: 4px;
          box-sizing: border-box;
        }
      }
    }
  }

  input[type='checkbox'] {
    display: none;

    &:checked + label {
      color: #484848;
    }

    &:checked + label::before {
      background: #000;
    }

    &:checked + label::after {
      content: '';
      position: absolute;
      top: 40%;
      right: 5px;
      transform: translateY(-50%) rotate(45deg);
      width: 4px;
      height: 7px;
      border-right: 2px solid #fff;
      border-bottom: 2px solid #fff;
    }
  }
}
