.section {
  padding: 70px 0;
  overflow: hidden;
}

.title {
  text-align: center;
}

.description {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
}

.header {
  display: block;
  max-width: 614px;
  text-align: center;
}
