.starRating {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.star {
  position: relative;
  width: 20px; /* Размер звезды */
  height: 20px;
  background-color: #ccc; /* Цвет незаполненной звезды */
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}

.fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #fca120; /* Цвет заполненной звезды */
  // clip-path: inherit; /* Наследуем форму звезды */
}
