.card {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 10px;
}

.image {
  width: 100%;
  height: 100%;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
}

.text {
  opacity: 0;
  position: absolute;
  bottom: 24px;
  left: 24px;

  background: #fff;
  box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.2);
  padding: 20px;
  border-radius: 4px;

  transition: all 0.3s ease-in;
}
.title {
  font-family: var(--font-main);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--text-color);
}
.discount {
  font-family: var(--font-main);
  font-size: 28px;
  font-weight: 400;
  line-height: 1.2;
  color: var(--text-color);
}

.link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  cursor: pointer;
}
