.input {
  border-radius: 4px;
  border: 1px solid #eeeeee;
  width: 100%;
  height: max-content;

  display: flex;
  gap: 0;

  input {
    width: 100%;
    background: #fff;
    text-align: center;
  }

  button {
    background: #fff;
    outline: none;
    border: none;
    cursor: pointer;
  }

  &-md {
    max-width: 96px;

    input {
      padding: 4px 6px;
    }

    button {
      padding: 5px 10px;
    }
  }

  &-lg {
    max-width: 128px;
    height: 46px;

    input {
      padding: 5px 10px;
    }

    button {
      padding: 5px 15px;
    }
  }

  .minus {
  }
  .plus {
  }
}
