.button {
  position: relative;
}

.counter {
  position: absolute;
  top: 0;
  right: 0;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #484848;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}
