.footer {
  background: #fff;
  padding: 30px 0;
  border-top: 1px solid #dedfe1;
}

.row {
  display: flex;
  justify-content: space-between;
}
.logo {
  a {
    color: var(--text-color);
    font-size: 32px;
    font-weight: 400;
    font-family: var(--font-accent);
    text-transform: uppercase;
    text-decoration: none;
  }
}
.nav {
  display: flex;
  align-items: center;
  ul {
    display: flex;
    gap: 38px;

    li {
      font-size: 16px;
      line-height: 1;
      font-family: var(--font-main);
      color: var(--accent);
      cursor: pointer;
      transition: all 0.2s ease-in;

      &:hover {
        color: var(--font-main);
      }
    }
  }
}
.copyright {
  text-align: center;

  font-size: 12px;
  color: var(--text-color);
}
