.nav {
  padding: 30px 0;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  a {
    display: block;
    text-transform: uppercase;
    font-family: var(--font-accent);
    font-size: 52px;
    font-weight: 400;
    text-decoration: none;
    color: var(--text-color);
    line-height: 1;
  }
}
.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
}
.list-item {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  padding: 8px 4px;
  box-sizing: border-box;

  &.active {
    border-bottom: 1px solid var(--text-color);
  }

  a {
    text-decoration: none;
    color: var(--text-color);
  }
}
.btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 11px 0;

  button {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;

    img {
      width: 20px;
      height: 20px;
    }
  }
}
.btns-item {
}
.btn {
}
