.mini-shopping-cart {
  position: fixed;
  right: -740px;
  top: 0;
  z-index: 102;
  background: #fff;
  width: 740px;
  height: 100%;
  padding: 30px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  transition: all 0.3s ease;

  &.active {
    right: 0;
  }
}
.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  background: rgba(120, 120, 120, 0.41);

  overflow: hidden;
  opacity: 0;
  visibility: hidden;

  transition: all 0.3s ease-in;

  &.active {
    visibility: visible;
    opacity: 1;
  }
}
.header {
  display: flex;
  flex-direction: column;
  gap: 26px;

  position: relative;
  margin-bottom: 65px;
}
.title {
  font-family: var(--font-accent);
  font-size: 36px;
  font-weight: 400;
  line-height: 32px;
  color: #000;
}
.desc {
  font-family: var(--font-main);
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  color: #8a8a8a;

  span {
    font-weight: 700;
    color: #000;
  }
}
.product {
  display: flex;
  gap: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.39);
  &-img {
    width: 168px;
    height: 225px;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-details {
    width: calc(100% - 188px);
    display: flex;
    flex-direction: column;
  }
  &-title,
  &-price {
    font-family: var(--font-main);
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
    color: #000;
  }
  &-size,
  &-quantity {
    font-family: var(--font-main);
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
    color: #8a8a8a;
  }
}
.footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
  &-total {
    width: 100%;
    display: flex;
    justify-content: space-between;

    font-family: var(--font-accent);
    font-size: 22px;
    font-weight: 400;
    line-height: 32px;
    color: #000;
  }

  &-btn {
    width: 100%;
  }

  &-link {
    font-family: var(--font-accent);
    font-size: 22px;
    font-weight: 400;
    text-decoration: underline !important;
    line-height: 32px;
    color: #000;
  }
}
.close {
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 24px;

  cursor: pointer;

  img {
    width: 100%;
    height: 100%;
  }
}
