.stock {
  margin-bottom: 30px;
  p {
    font: 16px;
    font-family: var(--font-main);
    line-height: 24px;
    font-weight: 400;
    color: #666666;
    margin-bottom: 12px;
    span {
      font-weight: 700;
    }
  }
  &-status {
    width: 100%;
    height: 5px;
    border-radius: 2px;
    background: #dedede;
  }
  &-status-level {
    height: 100%;
    background: #ef2d2d;
  }
}
