.nav {
  background: #fff;
}

.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
}
.list-item {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  box-sizing: border-box;
  border-bottom: 1px solid transparent;
  transition: all 0.2s ease;

  &.active {
    border-color: var(--text-color);
  }

  a {
    text-decoration: none;
    color: var(--text-color);
    white-space: nowrap;
    padding: 8px 4px;
  }

  &:hover {
    border-color: var(--text-color);
  }
}
