.customers {
  padding: 100px 0 58px;
  overflow: hidden;
  background: #fafafa;
}
.customers__title {
  text-align: center;
}
.customers__desc {
  line-height: 26px;
  text-align: center;
  color: var(--accent);
}

.customers__swiper-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
