.deals {
  padding: 155px 0 145px;
  background: #fafafa;
  max-width: 100%;

  .container-right {
    display: flex;
  }
}
.deals__left {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.deals__text {
  max-width: 444px;
}
.deals__title {
}
.deals__desc {
  font-family: var(--font-main);
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: var(--accent);
  margin-bottom: 40px;
}
.deals__right {
  width: calc(100% - 474px);
  height: 582px;
  position: relative;
  padding-left: 136px;
}
.deals__swiper-wrapper {
  display: flex;
  gap: 24px;
}
.deals__swiper-pagination {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 564px;

  z-index: 100;
}

.deals__swiper-buttons {
  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  gap: 16px;
}
