.fashion {
  padding-top: 44px;
  padding-bottom: 50px;
}

.fashion__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fashion__content {
  display: flex;
  gap: 40px;
  padding-top: 50px;
  padding-bottom: 70px;
}

.fashion__products {
  width: calc(100% - 360px);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 10px;
}

.fashion__filters {
  width: 320px;
  height: 1112px;
  background: #fff;

  display: flex;
  flex-direction: column;
  gap: 33px;

  h5 {
    font-size: 18px;
    line-height: 28px;
    font-family: var(--font-main);
    color: var(--text-color);
    font-weight: 500;
    margin-bottom: 16px;

    cursor: pointer;
  }
}
.fashion__filters-title {
  font-size: 30px;
  line-height: 36px;
  font-family: var(--font-main);
  color: var(--text-color);
  font-weight: 400;
}

.fashion__filter-sizes {
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;

    li {
      width: 42px;
      height: 42px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid var(--accent);
      border-radius: 5px;
      color: var(--accent);
      background: #fff;
      transition: all 0.2s ease-in;

      cursor: pointer;

      &.active {
        background: #000;
        color: #fff;
        border-color: #000;
      }

      &:hover {
        background: #000;
        color: #fff;
        border-color: #000;
      }
    }
  }
}
.fashion__filter-prices {
  ul {
    display: flex;
    flex-direction: column;
    gap: 10px;

    li {
      color: var(--accent);
      font-size: 16px;
      font-weight: 400;
      font-family: var(--font-main);
      line-height: 24px;
      cursor: pointer;

      transition: all 0.2s ease-in;

      &:hover {
        color: #000;
      }

      &.active {
        color: #000;
      }
    }
  }
}
.fashion__filter-brands {
  position: relative;
  ul {
    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;
    gap: 5px;

    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s ease-out;

    li {
      color: var(--accent);
      font-size: 16px;
      font-weight: 400;
      font-family: var(--font-main);
      line-height: 1;
      cursor: pointer;
      padding: 2px;
    }

    &.show {
      max-height: 220px;
    }
  }
}

.filter__arrow {
  width: 14px;
  height: 28px;
  position: absolute;
  top: 0;
  right: 0;

  transform: rotate(180deg);
  transition: all 0.3s ease-out;

  img {
    width: 100%;
    height: 100%;
  }

  &.active {
    transform: rotate(0);
  }
}

.fashion__pagination {
  display: flex;
  justify-content: center;
  ul {
    display: flex;
    justify-content: center;
    width: max-content;

    li {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      cursor: pointer;
    }
  }
}

.fashion__pagination-number {
  &.active {
    background: #f3f3f3;
  }
}
.pagination__btn {
  img {
    width: 9px;
    height: 100%;
  }

  &.disabled {
    visibility: hidden;
    pointer-events: none;
  }
}
.pagination__btn-prev {
  transform: rotate(180deg);
}
.pagination__btn-next {
}
