.logos {
  padding: 82px 0;
}
.container {
}
.logos__container {
  display: flex;
  justify-content: space-between;
}
.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
