.sale {
  padding-top: 44px;
  padding-bottom: 27px;
}
.sale__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 150px minmax(278px, 383px) 150px;
  grid-column-gap: 36px;
  grid-row-gap: 36px;
}
.sale__grid-item {
  border-radius: 10px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  &:nth-child(1) {
    background-image: url('../../public/img/sale/1.jpg');
    grid-area: 1 / 1 / 4 / 2;
  }

  &:nth-child(2) {
    background-image: url('../../public/img/sale/2.jpg');
    grid-area: 1 / 2 / 2 / 3;
  }

  &:nth-child(3) {
    // background-image: url('../img/sale/3.jpg');
    grid-area: 2 / 2 / 3 / 3;
  }

  &:nth-child(4) {
    background-image: url('../../public/img/sale/4.jpg');
    grid-area: 3 / 2 / 4 / 3;
  }

  &:nth-child(5) {
    background-image: url('../../public/img/sale/5.jpg');
    grid-area: 1 / 3 / 4 / 4;
  }
}

.sale__text {
  display: flex;
  flex-direction: column;
  margin-bottom: 19px;
  p {
    text-align: center;
    color: var(--font-main);
    line-height: 1;
  }
}
.sale__text-ultimate {
  font-size: 91px;
  font-weight: 500;
  letter-spacing: -4px;
}
.sale__text-sale {
  font-size: 187px;
  font-weight: 500;
  letter-spacing: -5.5px;
  color: #fff !important; /* Цвет текста */
  text-shadow: -1px -1px 0 #484848, 1px -1px 0 #484848, -1px 1px 0 #484848, 1px 1px 0 #484848;
}
.sale__text-collection {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -10%;
}

.sale__btn {
  text-align: center;
}
