.subscribe {
  padding: 150px 0 50px;

  .container {
    display: flex;
    justify-content: center;
  }
}

.subscribe__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  gap: 30px;

  width: 100%;
  padding: 207px 0;
  max-width: 631px;

  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: -355px;
    width: 355px;
    height: 100%;
    background-image: url('../img/subscribe/subscribe-bg1.jpg');
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: -355px;
    width: 355px;
    height: 100%;
    background-image: url('../img/subscribe/subscribe-bg2.jpg');
  }
}

.subscribe__head {
}
.subscribe__title {
}
.subscribe__desc {
  font-size: 16px;
  line-height: 26px;
  color: var(--accent);
}
.subscribe__input {
  width: 100%;
  box-shadow: 0px 60px 90px 0px rgba(0, 0, 0, 0.08);
  input {
    padding: 28px 30px;
    width: 100%;
    font-size: 22px;
    line-height: 26px;
    color: var(--accent);
  }
}
.subscribe__btn {
}
