@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-Regular.ttf') format('true type');
  font-weight: 400;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-Medium.ttf') format('true type');
  font-weight: 500;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-SemiBold.ttf') format('true type');
  font-weight: 600;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-Bold.ttf') format('true type');
  font-weight: 700;
}

@font-face {
  font-family: 'Volkhov';
  src: url('../fonts/Volkhov/Volkhov-Regular.ttf') format('true type');
  font-weight: 400;
}

@font-face {
  font-family: 'Volkhov';
  src: url('../fonts/Volkhov/Volkhov-Bold.ttf') format('true type');
  font-weight: 700;
}
