.d-flex {
  display: flex;
}
.jc-c {
  justify-content: center;
}
.jc-sp {
  justify-content: space-between;
}
.fd-c {
  flex-direction: column;
}
.ai-c {
  align-items: center;
}
.gap-50 {
  gap: 50px;
}
