.d-flex {
  display: flex;
}
.jc-c {
  justify-content: center;
}
.jc-sb {
  justify-content: space-between;
}
.fd-c {
  flex-direction: column;
}
.ai-c {
  align-items: center;
}
.gap-50 {
  gap: 50px;
}
.mh-300 {
  max-height: 300px;
}
.pt-5 {
  padding-top: 5px;
}
.gap-70 {
  gap: 70px;
}
