.headline-2 {
  font-family: var(--font-accent);
  font-size: 46px;
  line-height: auto;
  font-weight: 400;
  color: var(--text-color);
  margin-bottom: 20px;
}

.headline-3 {
  font-family: var(--font-accent);
  font-size: 42px;
  line-height: 32px;
  font-weight: 400;
  color: var(--text-color);
  margin-bottom: 20px;
}
