:root {
  --container-width: 1310px;
  --container-padding: 15px;
  --container-full-width: 1920px;

  --font-main: 'Poppins', sans-serif;
  --font-accent: 'Volkhov', sans-serif;
  --font-timer: 'Digital Numbers', sans-serif;

  --page-bg: #ffffff;
  --text-color: #484848;
  --accent: #8a8a8a;

  --laptop-size: 1199px;
  --tablet-size: 959px;
  --mobile-size: 599px;
}

.dark {
  --page-bg: #252526;
  --text-color: #ffffff;
}
