.sizes {
  margin-bottom: 30px;

  &-selected {
    font-family: var(--font-main);
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: #000;
    margin-bottom: 12px;

    span {
      font-weight: 400;
    }
  }

  &-variants {
    display: flex;
    gap: 10px;

    li {
      min-width: 45px;
      max-width: max-content;
      height: 45px;
      font-size: 18px;
      line-height: 27px;
      font-weight: 400;
      border-radius: 5px;
      color: #000;
      border: 1px solid #eeeeee;
      background: #fff;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

      &.active {
        color: #fff;
        border-color: #000;
        background: #000;
      }
    }
  }
}
