.btn {
  font-family: var(--font-main);
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  border-radius: 10px;
  border: none;
  text-decoration: none;
  transition: all 0.25s ease;
  outline: none;
  cursor: pointer;

  opacity: 1;

  &--medium {
    padding: 20px;
    width: 207px;
  }

  &--small {
    padding: 15px;
    width: 152px;
  }

  &--wide {
    width: 100%;
    max-width: 100%;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &--primary {
    background: #000;
    color: #fff;
    border: 1px solid #000;
    // box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.15);

    &:hover {
      opacity: 0.8;
      // box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
    }
  }

  &--secondary {
    background: #fff;
    color: #aaa9a9;
    border: 1px solid #aaa9a9;

    &:hover {
      opacity: 0.8;
      color: #484848;
      border: 1px solid #484848;
    }
  }
}
