.btn {
  font-family: var(--font-main);
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  border-radius: 10px;
  border: none;
  text-decoration: none;
  transition: all 0.25s ease;
  outline: none;
  cursor: pointer;
  text-align: center;

  opacity: 1;

  &--lg {
    padding: 20px;
    min-width: 207px;
  }

  &--md {
    padding: 15px;
    min-width: 152px;
  }

  &--sm {
    padding: 10px;
    min-width: 152px;
  }

  &--wide {
    width: 100%;
    min-width: 100%;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &--primary {
    background: #000;
    color: #fff;
    border: 1px solid #000;

    &:hover {
      opacity: 0.8;
    }
  }

  &--secondary {
    background: #fff;
    color: #aaa9a9;
    border: 1px solid #aaa9a9;

    &:hover {
      opacity: 0.8;
      color: #484848;
      border: 1px solid #484848;
    }
  }
}
