/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Volkhov";
  src: url("/fonts/Volkhov/Volkhov-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Volkhov";
  src: url("/fonts/Volkhov/Volkhov-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Digital Numbers";
  src: url("/fonts/DigitalNumbers/DigitalNumbers-Regular.ttf") format("truetype");
  font-weight: 400;
}
:root {
  --container-width: 1310px;
  --container-padding: 15px;
  --font-main: "Poppins", sans-serif;
  --font-accent: "Volkhov", sans-serif;
  --font-timer: "Digital Numbers", sans-serif;
  --page-bg: #fff;
  --text-color: #484848;
  --accent: #8a8a8a;
  --laptop-size: 1199px;
  --tablet-size: 959px;
  --mobile-size: 599px;
}

.dark {
  --page-bg: #252526;
  --text-color: #fff;
}

html {
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
  background-color: var(--page-bg);
  color: var(--text-color);
  font-family: var(--font-main);
}

.container {
  padding: 0 var(--container-padding);
  max-width: var(--container-width);
  margin: 0 auto;
}

.container-right {
  padding-left: calc((100% - var(--container-width)) / 2 + var(--container-padding));
}

.container-left {
  /* overflow-x: hidden; */
  padding-right: calc((100% - var(--container-width)) / 2 + var(--container-padding));
}
@media (max-width: var(--laptop-size)) {
  .container-left {
    padding-right: var(--container-padding);
  }
}

.headline-2 {
  font-family: var(--font-accent);
  font-size: 46px;
  line-height: 1;
  font-weight: 400;
  color: var(--text-color);
  margin-bottom: 20px;
}

.headline-3 {
  font-family: var(--font-accent);
  font-size: 42px;
  line-height: 32px;
  font-weight: 400;
  color: var(--text-color);
  margin-bottom: 20px;
}

.d-flex {
  display: flex;
}

.jc-c {
  justify-content: center;
}

.jc-sp {
  justify-content: space-between;
}

.fd-c {
  flex-direction: column;
}

.ai-c {
  align-items: center;
}

.gap-50 {
  gap: 50px;
}

.mh-300 {
  max-height: 300px;
}

.deals-swiper .swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
  box-sizing: content-box;
}
.deals-swiper .swiper-slide {
  flex-shrink: 0;
  position: relative;
  transition-property: transform;
  display: block;
  transition: all 0.3s ease-in;
  width: auto;
  max-height: 486px;
  height: 100%;
}
.deals-swiper .swiper-slide-active {
  width: 404px !important;
  max-height: 100% !important;
}
.deals-swiper .swiper-slide-active .deals-card__text {
  opacity: 1;
}
.deals-swiper .swiper-pagination-bullet {
  width: 27px;
  height: 27px;
  border-radius: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.deals-swiper .swiper-pagination-bullet:hover::before {
  background: #000;
}
.deals-swiper .swiper-pagination-bullet::before {
  content: "";
  display: block;
  width: 11px;
  height: 11px;
  background: #b6b6b6;
  border-radius: 100%;
  transition: all 0.2s ease;
}
.deals-swiper .swiper-pagination-bullet-active {
  border: 1px solid #000;
}
.deals-swiper .swiper-pagination-bullet-active::before {
  background: #000;
}
.deals-swiper .swiper-btn {
  width: 48px;
  height: 48px;
  position: relative;
  background: #fff;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.16);
}
.deals-swiper .swiper-btn svg {
  position: absolute;
  top: 50%;
  left: 50%;
}
.deals-swiper .swiper-btn svg path {
  stroke: #b6b6b6;
  transition: all 0.3s ease;
}
.deals-swiper .swiper-btn:hover svg path {
  stroke: #484848;
}
.deals-swiper .swiper-btn--prev svg {
  transform: translate(-70%, -50%) rotate(180deg);
}
.deals-swiper .swiper-btn--next svg {
  transform: translate(-30%, -50%);
}

.customers-swiper .swiper-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}
.customers-swiper .swiper-slide {
  width: 864px;
  max-width: 864px;
  opacity: 0;
}
.customers-swiper .swiper-slide-active {
  z-index: 1;
  opacity: 1;
}
.customers-swiper .swiper-slide-active .customers__review {
  transform: scale(1) !important;
}
.customers-swiper .swiper-slide-prev {
  opacity: 1;
  z-index: -1;
}
.customers-swiper .swiper-slide-next {
  opacity: 1;
  z-index: 0;
}
.customers-swiper .swiper-slide .customers__review {
  transform: scale(0.8);
}
.customers-swiper .swiper-btn {
  width: 48px;
  height: 48px;
  position: relative;
  background: #fff;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.16);
}
.customers-swiper .swiper-btn svg {
  position: absolute;
  top: 50%;
  left: 50%;
}
.customers-swiper .swiper-btn svg path {
  stroke: #b6b6b6;
  transition: all 0.3s ease;
}
.customers-swiper .swiper-btn:hover svg path {
  stroke: #484848;
}
.customers-swiper .swiper-btn--prev svg {
  transform: translate(-70%, -50%) rotate(180deg);
}
.customers-swiper .swiper-btn--next svg {
  transform: translate(-30%, -50%);
}

.btn {
  font-family: var(--font-main);
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  border-radius: 10px;
  border: none;
  text-decoration: none;
  transition: all 0.25s ease;
  outline: none;
  cursor: pointer;
}
.btn--medium {
  padding: 20px;
  width: 207px;
}
.btn--small {
  padding: 20px;
  width: 152px;
}
.btn--wide {
  width: 100%;
  max-width: 100%;
}
.btn--primary {
  background: #000;
  color: #fff;
  border: 1px solid #000;
  box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.15);
}
.btn--secondary {
  background: #f3f3f3;
  color: #8a8a8a;
  border: 1px solid #d1d1d1;
}
.btn--secondary:hover {
  background: #fff;
  color: #000;
  border: 1px solid #000;
}
.btn--primary:hover {
  background: #fff;
  color: #000;
}/*# sourceMappingURL=globals.css.map */