.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  margin-bottom: 90px;
}
.form-group {
  display: flex;
  gap: 18px;
  width: 100%;
}
.buttons {
  width: 100%;
  max-width: 575px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
  padding-top: 10px;
}
