.shopping-cart {
  padding-top: 44px;
  padding-bottom: 50px;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  margin-bottom: 70px;
}
.table {
  padding-top: 50px;
  padding-bottom: 30px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.19);
}
.table-header {
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.19);
}
.row {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr repeat(3, 200px);
  margin-bottom: 44px;

  td:not(:last-child) {
    padding-right: 20px;
  }
}
.column {
  font-family: var(--font-accent);
  font-size: 22px;
  font-weight: 400;
  line-height: 1;
  color: #000;

  &--product {
    text-align: start;
  }

  &--price {
    text-align: start;
  }

  &--quantity {
    text-align: start;
  }

  &--total {
    text-align: end;
  }
}
.body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 35px;
}
.item {
}
.product {
  display: flex;
  gap: 20px;
}
.product-image {
  width: 168px;
  height: 225px;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.description {
  width: calc(100% - 188px);
}
.name {
  font-family: var(--font-accent);
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  color: #000;
}
.size {
  font-family: var(--font-accent);
  font-size: 18px;
  font-weight: 400;
  line-height: 42px;
  color: #8a8a8a;
}
.remove {
  font-family: var(--font-accent);
  font-size: 18px;
  font-weight: 400;
  line-height: 42px;
  color: #8a8a8a;

  text-decoration: underline !important;
}
.price {
  font-family: var(--font-accent);
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  color: #000;
}
.quantity {
  font-family: var(--font-accent);
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  color: #000;
}
.quantity-controls {
  display: flex;
  border: 1px solid #8a8a8a;
  border-radius: 5px;
  max-width: 120px;
  height: 40px;
}
.quantity-controls__button {
  width: 40px;
  height: 100%;

  &--decrease {
  }
  &--increase {
  }
}

.quantity-controls__input {
  width: 40px;
  text-align: center;
}

.total {
  font-family: var(--font-accent);
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  color: #000;

  text-align: end;
}

.gift-wrap {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.19);

  display: flex;
  align-items: center;
  gap: 20px;
}
.gift-wrap__checkbox {
  display: none;
  &-span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 4px;
    vertical-align: middle;
    cursor: pointer;
  }

  &:checked + .gift-wrap__checkbox-span {
    background-color: #000;
    border-color: #000;
    position: relative;
  }

  &:checked + .gift-wrap__checkbox-span::after {
    content: '';
    position: absolute;
    top: 0;
    left: 6px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
}
.gift-wrap__label {
  font-family: var(--font-main);
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: #8a8a8a;

  span {
    color: #000;
  }
}
.summary {
  display: flex;
  justify-content: flex-end;

  padding-top: 35px;
}

.summary-container {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.subtotal {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;

  span {
    font-family: var(--font-accent);
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    color: #000;
  }

  &-label {
  }
  &-amount {
  }
}
.checkout-button {
  margin-bottom: 15px;
}
.view-cart {
  text-align: center;
  font-family: var(--font-accent);
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  color: #000;
  text-decoration: underline !important;
}
