.brands {
  position: relative;
  h5 {
    cursor: pointer;
  }
  ul {
    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;
    gap: 5px;

    padding-right: 10px;

    height: 0px;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.5s ease;

    // li {
    //   color: var(--accent);
    //   font-size: 16px;
    //   font-weight: 400;
    //   font-family: var(--font-main);
    //   line-height: 1;
    //   cursor: pointer;
    //   padding: 4px 6px;
    //   border: 1px solid #8a8a8a;
    //   border-radius: 4px;
    //   width: max-content;

    //   transition: all 0.2s ease;

    //   &:hover {
    //     color: var(--font-main);
    //     border-color: #000;
    //   }
    //   &.active {
    //     color: #fff;
    //     background: #000;
    //     border-color: #000;
    //   }
    // }

    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      line-height: 16px;
      padding: 2px 0;

      label {
        width: 100%;
        height: 100%;
        cursor: pointer;
        font-size: 14px;
        color: #8a8a8a;
        transition: all 0.2s ease;

        &:hover {
          color: #484848;
        }

        &::before {
          content: '';
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          background: #fff;
          width: 16px;
          height: 16px;
          border: 1px solid #8a8a8a;
          border-radius: 4px;
          box-sizing: border-box;
        }
      }

      input[type='checkbox'] {
        display: none;

        &:checked + label {
          color: #484848;
        }

        &:checked + label::before {
          background: #000;
        }

        &:checked + label::after {
          content: '';
          position: absolute;
          top: 40%;
          right: 5px;
          transform: translateY(-50%) rotate(45deg);
          width: 4px;
          height: 7px;
          border-right: 2px solid #fff;
          border-bottom: 2px solid #fff;
        }
      }
    }

    &.show {
      overflow: auto;
      height: 200px;
      max-height: 100%;
    }

    &::-webkit-scrollbar {
      width: 4px;
    }
    /* Track */
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px #8a8a8a;
      border-radius: 10px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #484848;
      border-radius: 10px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #b30000;
    }
  }

  .arrow {
    width: 14px;
    height: 28px;
    position: absolute;
    top: 0;
    right: 0;

    transform: rotate(180deg);
    transition: all 0.3s ease-out;

    img {
      width: 100%;
      height: 100%;
    }

    &.active {
      transform: rotate(0);
    }
  }
}
