.customers {
  padding: 100px 0 58px;
  overflow: hidden;
  background: #fafafa;
}
.title {
  text-align: center;
}
.desc {
  line-height: 26px;
  text-align: center;
  color: var(--accent);
}

.head {
}
