.carousel {
  // margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
  display: block;
  max-width: 1196px;
  height: 100%;
}

.pagination {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 564px;
  z-index: 100;
}

.buttons {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  gap: 16px;
}
